[submodule "ConquerBlocks/Backend/HTML"]
	path = ConquerBlocks/Backend/HTML
	url = https://github.com/ConquerBlocks/conquerblocks-html.git
[submodule "ConquerBlocks/Backend/CSS"]
	path = ConquerBlocks/Backend/CSS
	url = https://github.com/ConquerBlocks/conquerblocks-css.git
[submodule "ConquerBlocks/Backend/JavaScript"]
	path = ConquerBlocks/Backend/JavaScript
	url = https://github.com/ConquerBlocks/conquerblocks-js.git
[submodule "ConquerBlocks/Frontend/HTML"]
	path = ConquerBlocks/Frontend/HTML
	url = https://github.com/ConquerBlocks/conquerblocks-html.git
[submodule "ConquerBlocks/Frontend/CSS"]
	path = ConquerBlocks/Frontend/CSS
	url = https://github.com/ConquerBlocks/conquerblocks-css.git
[submodule "ConquerBlocks/Frontend/JavaScript"]
	path = ConquerBlocks/Frontend/JavaScript
	url = https://github.com/ConquerBlocks/conquerblocks-js.git
[submodule "ConquerBlocks/Frontend/ReactJS"]
	path = ConquerBlocks/Frontend/ReactJS
	url = https://github.com/ConquerBlocks/conquerblocks-reactjs.git
[submodule "ConquerBlocks/Backend/Django_Inicial"]
	path = ConquerBlocks/Backend/Django_Inicial
	url = https://github.com/ConquerBlocks/conquerblocks-django-inicial.git
[submodule "ConquerBlocks/Backend_experto/NodeJS"]
	path = ConquerBlocks/Backend_experto/NodeJS
	url = https://github.com/ConquerBlocks/conquerblocks-nodejs.git
[submodule "ConquerBlocks/Frontend_experto/Astro"]
	path = ConquerBlocks/Frontend_experto/Astro
	url = https://github.com/ConquerBlocks/conquerblocks-astro.git
