.banderas{
    background-color: #f2f2f2;
    border: 1px, solid, black;
}
.banderas div{
    width: 30%;
    aspect-ratio: 3/2;
    border: 1px, solid, black;
    display: inline-block;
    margin: 20px;
}
div.colombia{
    background-image: linear-gradient(yellow 0% 33%, blue 33% 66%, red 66% 100%);
}
div.francia{
    background-image: linear-gradient(to right, red 0% 33%, white 33% 66%, blue 66% 100%);
}
div.italia{
    background-image: linear-gradient(to right, green 0% 33%, white 33% 66%, red 66% 100%);
}
div.alemania{
    background-image: linear-gradient(black 33%, red 33% 66%, yellow 66% 100%);
}
div.japon{
    background-image: radial-gradient(circle, red 0% 33%, white 33% 100%);
}
div.polonia{
    background-image: linear-gradient(white 0% 50%, red 50% 100%);
}
.myHeader{
    width: 350px;
    border-radius: 10px;
    padding: 20px 10px;
    border: 5px, solid, black;
    margin-top: 20px;
    background-color: #4f83e3;
    background-image: url(../img/balloons.jpg);
    background-position: top right;
    background-size: 100%;
}
.myHeader h2{
    font-weight: bold;
    opacity: 0.5;
    font-size: 24px;
    color: white;
    background-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}
.myHeader2{
    width: 150px;
    margin: 5px 0px 5px 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px, solid, lightblue;
    padding: 30px;
    background-color: white;
    background-image: url(../img/star.png),url(../img/star.png),url(../img/star.png),url(../img/star.png);
    background-repeat: no-repeat;
    background-position: 5% 50%, 95% 25%, 95% 50%, 95% 75%;
    background-size:  25px, 25px, 25px, 25px;
}
.myHeader2 h2{
    color: black;
    text-align: center;
    margin: 0px;
}